server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    root $NGINX_SERVER_ROOT;
    index index.php index.html index.htm;
    server_name _;

    location / {
        try_files $uri $uri/ /index.php;
    }

    # Deny all attempts to access hidden files
    location ~ /\. {
        access_log off;
        deny all;
    }

    # Static files
    location ~* ^.+\.(css|gif|ico|jpg|jpeg|js|png|svg|tif|tiff)$ {
        access_log off;
        expires max;
    }

    # Health check
    location $NGINX_HEALTH_CHECK_PATH {
        access_log off;
        add_header Content-Type text/plain;
        return 200 "OK\n";
    }

    # Pass the PHP scripts to FastCGI server listening on socket
    location ~ [^/]\.php(/|$) {
        try_files $uri $uri/ /index.php;

        fastcgi_pass unix:/var/run/php-fpm.sock;

        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_index index.php;
        include /etc/nginx/fastcgi_params;

        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTP_PROXY ""; # Mitigate https://httpoxy.org/ vulnerabilities
    }
}
